<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <%- include('partials/navbar') %>
<!-- episodes page -->
    <h1 class="vid-head"><%= title %></h1>

        <% media.forEach(item => { %>
            <p><a class="vid-link" href="/media/<%= item.name %>"><%= item.name %></a></p>
        <% }) %>
        
        <br>
 
</body>
</html>