<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <%- include('partials/navbar') %>
<!-- episodes page -->
    <h1 class="vid-head"><%= title %></h1>
    <ul>
        <ul>
            <% media.forEach(item => { %>
                <li><a class="vid-link" href="/media/<%= item.name %>"><%= item.name %></a></li>
            <% }) %>
        </ul>
        
    <br>
 
</body>
</html>