<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navbar') %>
<!-- episodes page -->
    <h1><%= title %></h1>
    <ul>
        <ul>
            <% media.forEach(item => { %>
                <li><a href="/media/<%= item.name %>"><%= item.name %></a></li>
            <% }) %>
        </ul>
        
    <br>
 
</body>
</html>