<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navbar') %>

    <h1><%= title %></h1>
    <ul>
        <ul>
            <% media.forEach(item => { %>
                <li><a href="/media/<%= item.filename %>"><%= item.name %></a></li>
            <% }) %>
        </ul>
        
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
