<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navbar') %>
<!-- show/seasons page -->
    <h1><%= title %></h1>
    <ul>
        <% items.forEach(item => { %>
            <li><a href="<%= item.path %>"><%= item.name %></a></li>
        <% }) %>
    </ul>
    <br>

</body>
</html>