<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <%- include('partials/navbar') %>
<!-- show/seasons page -->
    <h1 class="vid-head"><%= title %></h1>
        <% items.forEach(item => { %>
            <p><a class="vid-link" href="<%= item.path %>"><%= item.name %></a></p>
        <% }) %>
    <br>

</body>
</html>