<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navbar') %>

     <h1><%= title %></h1> <!--browse tv shows page -->
    <ul>
        <% shows.forEach(show => { %>
            <li><a href="<%= show.path %>"><%= show.name %></a></li>
        <% }) %>
    </ul>
    <br>

</body>
</html>