<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <%- include('partials/navbar') %>

     <h1 class="vid-head"><%= title %></h1> <!--browse tv shows page -->
        <% shows.forEach(show => { %>
            <p><a class="vid-link" href="<%= show.path %>"><%= show.name %></a></p>
        <% }) %>

    <br>

</body>
</html>